/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/_ide_helper.php
.phpunit.result.cache
.env
.env.backup
.phpunit.result.cache
fields_sample.json
.editorconfig
config/ldap.php
config/ldap_auth.php
public/uploads/avatars/2157933_1634158588.jpg
public/uploads/avatars/2157933_1634158620.jpg
public/uploads/avatars/2157933_1634158712.jpg
